<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/cause_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Cause Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<!-- <script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script> -->
<%= render 'layouts/carousel' %>
<%= render 'layouts/marketing' %>
<%= render 'layouts/thumbnail' %>
<% end %>